@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
/*Primary colors*/

/* :root {
  --color-beaver: #9e7f66;
  --color--cod-gray: #111111;
  --color-mirage: #17192b;
  --color-ebony-clay: #242b37;
  --color-shuttle-gray: #5c6779;
} */
/*Secondary colors*/
